# Ignore everything ...
*
build/
temp/

# ... but these file types
!.gitignore
!src/
!data/
!data/noisy
!*.h
!*.cpp
!*.qrc
!*.ui
!*.pgm

# ...even if they are in subdirectories
#!*/

# specific files
!CMakeLists.txt
